<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangziwa.practisesvr.mapper.StudentsMapper">

    <resultMap type="com.zhangziwa.practisesvr.model.Student" id="StudentsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="height" column="height" jdbcType="NUMERIC"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="classId" column="class_id" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StudentsMap">
        select id,
               username,
               password,
               age,
               height,
               gender,
               class_id,
               is_delete
        from students
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StudentsMap">
        select
        id, username, password, age, height, gender, class_id, is_delete
        from students
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="height != null">
                and height = #{height}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="classId != null">
                and class_id = #{classId}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from students
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="height != null">
                and height = #{height}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="classId != null">
                and class_id = #{classId}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into students(username, password, age, height, gender, class_id, is_delete)
        values (#{username}, #{password}, #{age}, #{height}, #{gender}, #{classId}, #{isDelete})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into students(username, password, age, height, gender, class_id, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.password}, #{entity.age}, #{entity.height}, #{entity.gender},
            #{entity.classId}, #{entity.isDelete})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into students(username, password, age, height, gender, class_id, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.password}, #{entity.age}, #{entity.height}, #{entity.gender},
            #{entity.classId}, #{entity.isDelete})
        </foreach>
        on duplicate key update
        username = values(username),
        password = values(password),
        age = values(age),
        height = values(height),
        gender = values(gender),
        class_id = values(class_id),
        is_delete = values(is_delete)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update students
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from students
        where id = #{id}
    </delete>

</mapper>

