<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangziwa.practisesvr.mapper.UserMapper">

    <resultMap id="StudentMap" type="com.zhangziwa.practisesvr.model.Student">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="height" property="height"/>
        <result column="gender" property="gender"/>
        <result column="class_id" property="classId"/>
        <result column="is_delete" property="logicDelete"/>
    </resultMap>

    <select id="getInfo" parameterType="String" resultType="com.zhangziwa.practisesvr.model.Student">
        SELECT *
        FROM students
        WHERE username = #{name}
          and password = #{password}
    </select>

    <select id="listStudents" resultMap="StudentMap">
        SELECT *
        FROM students
    </select>

</mapper>